[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyoverkiz = "*"
aiohttp = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"]}
RPLCD = {version = "*", markers = "sys_platform == 'linux'"}
smbus2 = {version = "*", markers = "sys_platform == 'linux'"}

[dev-packages]

[requires]
python_version = "3.9"
